
  body{background-color: blue;}
  margin: 0
.container {
  max-width: 750px;
  margin: 10px auto;
  background-color: pink;
}

.navigation{
  background-color: maroon;
  max-width: 300px;
}


.header. h2 + h3 {
  color: purple;
}
.content{
  border: 2px solid pink;
  padding: 50px;
  margin: 50px;
  background-color: orange;

}


.footer{
background-color: white;
  }

  h1{font-family: inherit;
    }

  h2{color: crimson;
    }

  h3{background-color: yellow;
    }
#subheader {
font-style: italic;
color: red;
font-weight: 500;
}
input[type="text"]{
  background-color: purple;}
